<!--
Copyright Information
All source is copyright, Kevin Wittmer
See License.txt for more information (check Visual Studio Solution Items)
==================================
-->

@model Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerSearchResultsViewModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hometown</th>
            <th>Home Runs</th>
            <th>Last game date</th>
        </tr>
    </thead>

    @foreach (var item in Model.Players)
    {
        <tr>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.HomeTown</td>
            <td>@item.HomeRuns</td>
            <td>@item.FinalGame</td>
        </tr>
    }
</table>